html {
  box-sizing: border-box;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grains {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.grains li {
  height: 76px;
  display: block;
  width: 300px;
  margin-bottom: 30px;
}

.grains img {
  width: 100px;
  float: left;
}

.grains h2 {
  margin: 0;
}

.grains p {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}
